body {
  margin: 0;
  overflow: hidden;
  background-color: #34495e;
  background-image: url("backgroud.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

#snowfall {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

#snowflake {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 50%;
  pointer-events: none;
  animation: snowfallAnimation linear infinite;
  animation-duration: 2.5s;
}

#gift-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  font-size: 50px;
  z-index: 1;
}

#gift {
  animation: rotateGift linear infinite;
  animation-duration: 4s;
  transition: transform 0.3s;
}

#message {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #bd3634;
  text-align: center;
  z-index: 2;
  max-width: 80%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
}

.message-letter {
  font-family: cursive;
  font-style: italic;
  transform: rotate(10deg);
  cursor: pointer;
}

.message-cover {
  position: absolute;
  z-index: -1;
  top: -90px;
  left: -120px;
  width: 600px;
}

@keyframes snowfallAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}

@keyframes rotateGift {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
